@import 'tailwindcss';

@import '@shared/styles/reset.css';
@import '@shared/styles/base.css';

/* shadcn CSS variables */
@import '@shared/styles/shadcn.css';

/* Design tokens */
@import '@shared/styles/tokens/color.css';
@import '@shared/styles/tokens/font.css';

/* Typography */
@import '@shared/styles/typography.css';