@import 'tailwindcss';

@import '@app/styles/reset.css';

/* Design tokens */
@import '@styles/tokens/color.css';
@import '@styles/tokens/font.css';

@import '@app/styles/base.css';

/* Typography */
@import '@styles/tokens/typography.css';

/* Transition */
@import '@styles/tokens/transition.css';

/* shadcn CSS variables */
@import '@styles/shadcn.css';

.bottom-sheets-scrollbar::-webkit-scrollbar {
  width: 5px; /* 스크롤 막대 길이는 조절 불가... */
}

.bottom-sheets-scrollbar::-webkit-scrollbar-thumb {
  background: var(--color-gray-200);
  border-radius: 999px;
}

.bottom-sheets-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}