@import 'tailwindcss';

@import '@app/styles/reset.css';

/* Design tokens */
@import '@styles/tokens/color.css';
@import '@styles/tokens/font.css';

@import '@app/styles/base.css';

/* Typography */
@import '@styles/tokens/typography.css';

/* shadcn CSS variables */
@import '@styles/shadcn.css';

@layer utilities {
  @keyframes select-slide-down {
    from {
      opacity: 0;
      transform: translateY(-8px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes select-slide-up {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-8px);
    }
  }
}
