@layer base {
  html {
     /* 1rem = 10px */
    font-size: 62.5%;
    width: 100%;
    height: 100%;
  }

  body {
    min-height: 100dvh;
    width: 100%;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  #root {
    min-height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  button {
    background: none;
    border: 0;
    padding: 0;
    cursor: pointer;
    font: inherit;
    color: inherit;
  }

  input,
  textarea {
    font: inherit;
    color: inherit;
  }

  /* 기본 X 버튼 제거 */
  input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  /* 스크롤바 숨김 (필요한 경우 클래스 단위로 사용 가능) */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none; /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
}
