@layer utilities {
  .display01-b-24 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0;
  }

  .display02-sb-28 {
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0;
  }

  .head01-b-18 {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0;
  }

  .head02-b-16 {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 0;
  }

  .head03-sb-16 {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.45;
    letter-spacing: 0;
  }

  .head04-m-16 {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.45;
    letter-spacing: 0;
  }

  .head05-r-14 {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0;
  }

  .body01-sb-12 {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.45;
    letter-spacing: 0;
  }

  .body02-m-12 {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0;
  }

  .body03-r-16 {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0;
  }

  .body04-r-14 {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.45;
    letter-spacing: 0;
  }

  .body05-r-12 {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.45;
    letter-spacing: 0;
  }

  .label01-sb-14 {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 0;
  }

  .label02-m-14 {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0;
  }

  .label03-m-12 {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0;
  }

  .label04-r-16 {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0;
  }

  .label05-r-14 {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0;
  }

  .label06-r-12 {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0;
  }
}
