@layer utilities {
  .transition-default {
    transition-property: color, background-color, border-color;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
  }

  .transition-fast {
    transition-property: color, background-color, border-color;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
  }

  .transition-slow {
    transition-property: color, background-color, border-color;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
  }
}
